<html>
<head>
  <title>Sorteerhoed - Pagina niet gevonden</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/light/bulma/bulma.min.css') }}">
  <script src="https://kit.fontawesome.com/3648ee0da4.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="hero is-fullheight is-warning is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                <i class="fas fa-exclamation-triangle"></i>&nbsp;Pagina niet gevonden
            </h1>
            <br>
            <h2 class="subtitle">
              De pagina waar je naar zocht hebben we helaas niet kunnen vinden.<br>
              Excuses voor het ongemak.
            </h2>
            <p>
                <a class="button is-dark" href="/">Terug naar de startpagina</a>
            </p>
          </div>
        </div>
      </section>
</body>