<html>

<head>
  <title>Sorteerhoed - Server fout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/light/bulma/bulma.min.css') }}">
  <script src="https://kit.fontawesome.com/3648ee0da4.js" crossorigin="anonymous"></script>
</head>

<body>
  <section class="hero is-fullheight is-danger is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          <i class="fas fa-exclamation-circle"></i>&nbsp;Server fout
        </h1>
        <br>
        <h2 class="subtitle">
          Er is iets fout gegaan bij het verwerken van je aanvraag.<br>
          Probeer het later nog eens opnieuw.
        </h2>
        <p>
          <a class="button" href="/">Terug naar de startpagina</a>
        </p>
      </div>
    </div>
  </section>
</body>